@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Tema Claro (Padrão) */
  --bg-primary: #ffffff; /* Fundo principal das páginas */
  --bg-secondary: #f8f9fa; /* Fundo de cards, forms, modais */
  --bg-menu: #111217; /* Fundo do menu superior */
  --bg-menu-hover: #363950; /* Hover dos itens de menu */
  --bg-menu-list: #4b4f6c; /* Fundo dos itens de lista do menu */

  --text-primary: #0a0a0a; /* Texto principal */
  --text-secondary: #6c757d; /* Texto secundário, placeholders */
  --text-green: #155724;
  --text-white: #ffffff; /* Texto sobre fundos escuros (menu, botões) */
  --text-black: #0a0a0a;

  --border-color: #e9ecef; /* Bordas de cards e divisórias */
  --border-strong: #ccc; /* Bordas de inputs */

  --bg-accent-color: #ffae003a;
  --bg-event-color: #24ff000d;
  --bg-result-green: #37ff161a;
  --bg-result-red: #ff24242b;

  --bg-calendar-non-bussiness: #e6e6e6;

  --accent-color: #dfad2d; /* Dourado para destaque */
  --accent-color-hover: #b78a19;
  --action-primary: #04a146; /* Verde para botões de sucesso */
  --action-secondary: #778088; /* Cinza para botões secundários */
  --action-edit: #2365c8; /* Azul para botões de editar */
  --action-danger: #c82333; /* Vermelho para botões de excluir */

  --bg-graph: rgba(221, 177, 65, 0.6);
  --border-graph: rgba(221, 177, 65, 1);

  --bg-graph-column: rgba(34, 164, 29, 0.516);
  --border-graph-column: rgba(4, 161, 70, 1);

  --bg-graph-radar: rgba(25, 99, 209, 0.6);
  --border-graph-radar: rgba(13, 107, 185, 1);

  --bg-graph-bar: rgba(221, 177, 65, 0.6);
  --border-graph-bar: rgba(221, 177, 65, 1);
}

body.dark-theme {
  /* Tema Escuro */
  --bg-primary: #17181f;
  --bg-secondary: #282933;

  --bg-menu: #111217;
  --bg-menu-hover: #363950;
  --bg-menu-list: #4b4f6c;

  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --text-green: #155724;
  --text-white: #ffffff;
  --text-black: #0a0a0a;

  --border-color: #333333;
  --border-strong: #555555;
  --bg-event-color: #24ff000d;
  --bg-result-green: #37ff161a;
  --bg-result-red: #ff24242b;

  --bg-calendar-non-bussiness: #2d2d2d;

  --accent-color: #dfad2d;
  --accent-color-hover: #b78a19;
  --action-primary: #04a146;
  --action-secondary: #555;
  --action-edit: #2a62e2;
  --action-danger: #c82333;

  --bg-graph: rgba(221, 177, 65, 0.8);
  --border-graph: rgba(221, 177, 65, 1);

  --bg-graph-column: rgba(4, 161, 70, 0.4);
  --border-graph-column: rgba(4, 161, 70, 1);

  --bg-graph-radar: rgba(25, 99, 209, 0.4);
  --border-graph-radar: rgba(13, 107, 185, 1);

  --bg-graph-bar: rgba(221, 177, 65, 0.4);
  --border-graph-bar: rgba(221, 177, 65, 1);
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(https://d335luupugsy2.cloudfront.net/cms/files/342452/1698426778/$p8rdih6o8);
  background-size: cover;
  background-position: top;
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.p-2 {
  background-color: var(--bg-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-area {
  padding: 25px;
  flex-grow: 1;
}

.tela-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-primary);
  font-weight: bold;
}

/* --- RESPONSIVO (GERAL) --- */
@media (max-width: 900px) {
  .content-area {
    padding: 15px;
  }
  body {
    background-image: none;
    background-position: none;
    background-size: none;
    overflow-x: none;
    background-color: var(--bg-primary);
  }
}
